In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import re

In [2]:
train = pd.read_excel('Data/train.xlsx', index_col='index')
train_reviews = pd.read_excel('Data/train_reviews.xlsx', index_col='index')

In [6]:
def lowercase(df):
    '''
    lowercases all the text in the dataframe
    '''
    for col in df.columns:
        df[col] = df[col].apply(lambda x: x.lower() if type(x) == str else x)
    return df

def general_regex(df):
    '''
    general regex cleaning steps
    '''
    for col in df.columns:
        # remove html tags
        df[col] = df[col].apply(lambda x: re.sub(r'<.*?>','',x) if type(x) == str else x)
        # remove punctuation
        #df[col] = df[col].apply(lambda x: re.sub(r'[^\w\s]','',x) if type(x) == str else x)
        # remove '_x005f_x000d_' & '_x000d_'
        #df[col] = df[col].apply(lambda x: re.sub(r'(_x005f_x000d_|_x000d_)','',x) if type(x) == str else x)
    return df

In [7]:
df = general_regex(lowercase(train))
df

,description,host_about,unlisted
index,,,
1,"this is a shared mixed room in our hostel, wit...",alojamento local registro: 20835/al,0
2,"o meu espaço fica perto de parque eduardo vii,...","i am friendly host, and i will try to always b...",1
3,trafaria’s house is a cozy and familiar villa ...,"i am a social person liking to communicate, re...",1
4,"apartamento charmoso no chiado, entre o largo ...",hello!_x000d_\ni m portuguese and i love to me...,0
5,joli appartement en bordure de mer. 2 min. a ...,nous sommes une famille avec deux enfants de 1...,0
...,...,...,...
12492,cat’s by bairro altothis cozy apartment in lis...,travelling is one of my favorite hobbies. i've...,0
12493,beautifully located in the heart of lisbon's h...,founded by travel enthusiasts (just like you) ...,0
12494,enjoy breakfast in the sleek kitchen with its ...,i´m from portugal and i love to dance and to t...,0
12495,a terra da eira é uma casa de campo rodeada de...,somos uma familia de 5. gostamos de viajar e d...,1
12496,this brandnew apartment combines elegant charm...,we are a german-portuguese couple with a passi...,1